.shipComponentsScroll {
    position: relative;
    background: none;
    border: 0;
    outline: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    font-weight: inherit;
    overflow: scroll;
    overflow-y: scroll;
    vertical-align: top;
    width: 100%;
    height: 100%;

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    &::-webkit-scrollbar:window-inactive{
      display: none;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        background-color: #FFF;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }   
}

.horizontal {
  &::-webkit-scrollbar:vertical {
        display: none;
  }
}

.vertical {
  &::-webkit-scrollbar:horizontal {
        display: none;
  }
}
.both {
  &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
}
.shadowScroll {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        background-color: #FFF;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }
}

.moonlightScroll {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
        background-color: #000;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }
}
